@import '@elastic/eui/src/themes/amsterdam/colors_light';
@import '@elastic/eui/src/themes/amsterdam/globals';

.Header{
  display: flex;
  align-items: center;
  width: inherit;
  
  height: 68px;
  padding: 0 10px;
  
  background-color: $euiColorDarkestShade;

  .Title {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .Window-tools {
    display: flex;
    flex-direction: column;
    height: 70%;
  }

  .Window-icon {
    .euiIcon {
      rect {
        color: #FFFFFF
      }

      path {
        color: #FFFFFF
      }
    }
  }
}
